<% provide(:title, '') %>
<main class="main">
  <div class="contents">
    <div class="contents__left">
      <a href="https://www.amazon.co.jp/%E3%82%B9%E3%83%A9%E3%82%B9%E3%83%A9%E3%82%8F%E3%81%8B%E3%82%8BHTML-CSS%E3%81%AE%E3%81%8D%E3%81%BB%E3%82%93-%E7%AC%AC2%E7%89%88-%E7%8B%A9%E9%87%8E-%E7%A5%90%E6%9D%B1/dp/4797393157/ref=as_li_ss_il?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=html&qid=1561810151&s=gateway&sr=8-2&linkCode=li2&tag=mtsubasaas28-22&linkId=8fe9bf0178ecb9f8f7a0ce5c3bddc1f5&language=ja_JP" target="_blank"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4797393157&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=mtsubasaas28-22&language=ja_JP" ></a><img src="https://ir-jp.amazon-adsystem.com/e/ir?t=mtsubasaas28-22&language=ja_JP&l=li2&o=9&a=4797393157" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>

    <div class="contents__right">
      <%= render 'layouts/categories' %>
      <% if logged_in? %>
        <div class="profile-card">
          <div class="user-link">
            <%= link_to current_user, class: 'user-link__item user-link__item--img' do %>
              <%= render 'shared/user_icon', user: current_user, id_name: 'user-icon', class_name: 'img' %>
            <% end %>
            <%= link_to current_user.name, current_user, class: 'user-link__item user-link__item--title' %>
          </div>
        </div>
      <% end %>
      
      <div class="about-link">
        <%= link_to 'BX.noteとは？', about_path, class: 'link' %>
      </div>
    </div>

  </div>

  <div class="page-nation">
  ページネーション
  </div>
</main>