<% provide(:title, '') %>
<%= render 'posts/post_show' %>
<main class="main">
  <div class="contents">
    <div class="contents__left">
      <!-- post -->
      <ol id="post-list" class="post-list">
        <%= render @posts %>
      </ol><!-- post end -->
      <%= paginate @posts %>
    </div>

    <div class="contents__right">
      <%= render 'layouts/categories' %>
      <% if logged_in? %>
        <div class="profile-card profile-card--pc">
          <div class="user-link">
            <%= link_to current_user, class: 'user-link__item user-link__item--img' do %>
              <%= render 'shared/user_icon', user: current_user, id_name: 'user-icon', class_name: 'img' %>
            <% end %>
            <%= link_to current_user.name, current_user, class: 'user-link__item user-link__item--title' %>
          </div>
          <div class="user-status">
            <ul class="ProfileNav-list">
              <%= render 'users/stats' %>
            </ul>
          </div>
        </div>
      <% end %>
      
      <div class="about-link">
        <%= link_to 'BX.noteとは？', about_path, class: 'link' %>
      </div>
    </div>

  </div>
</main>