<% if logged_in? %>
  <div class="comment-form-block">
    <%= form_with(model: Comment.new(id: current_user.id), class: 'comment-form') do |f| %>
      <%= f.text_area :content, class: 'comment-form__textarea', placeholder: 'コメントを入力' %>
      <%= hidden_field_tag 'comment[post_id]', post.id %>
      <%= f.submit "送信", id: 'button-post', class: 'comment-form__submit disabled', disabled: true %>
    <% end %>
  </div>
  
<% else %>
  <div class="comment-form-block">
    <div class="comment-form" >
      <p class="comment-form__textarea">あなたもコメントしてみませんか</p>
      <%= link_to '登録', signup_path, class: 'comment-form__submit comment-form__submit--signup' %>
    </div>
  </div>
<% end %>