<% post.comments.each do |comment| %>
  <li id="comment-<%= comment.id %>" class="comment-list__item">

    <div class="inner-left">
      <%= link_to comment.user, class: 'user-link__item user-link__item--img' do %>
        <%= render 'shared/user_icon', user: comment.user, id_name: '', class_name: '' %>
      <% end %>
    </div>


    <div class="inner-right">
      <div class="user-link">
        <%= link_to comment.user.name, comment.user, class: 'user-link__item user-link__item--title' %>

        <span class="user-link__timestamp">
          <%= post.created_at.strftime('%Y/%m/%d') %>
        </span>

        <% if logged_in? && comment?(comment) %>
          <%= link_to comment, method: :delete, data: { confirm: "この投稿を本当に削除しますか？" }, class: 'user-link__delete', remote: true do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <div class="comment-content">
        <p class="comment-content__item"><%= comment.content %></p>
      </div>
    </div>

  </li>
<% end %>