<% provide(:title, "プロフィール編集") %>

<main class="main--edit">
  <div class="form-card">
  <h1 class="form-card__title">プロフィール編集</h1>
    <%= form_with(model: @user, url: user_path, local: true, class: 'form form--edit') do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form__image">
        <%= render 'shared/user_icon', user: current_user, id_name: 'user-profile-block__img--edit', class_name: 'profile-block__img profile-block__img--edit' %>
        <div id="form-image--edit">
          <%= f.label :image, id: 'input-label--edit', class: 'form__label--image' do %>
          ファイルを選択
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'image-form form__input--image', data: {id: 'edit'}  %>
          <% end %>
        </div>
      </div>
      <%= f.label :name, class: 'form__label' %>
      <%= f.text_field :name, class: 'form-control', class: 'form__input' %>
      <%= f.label :email, class: 'form__label' %>
      <%= f.email_field :email, class: 'form-control', class: 'form__input' %>
      <%= f.password_field :password, class: 'form-control', class: 'form__input', placeholder: 'パスワード' %>
      <%= f.password_field :password_confirmation, class: 'form-control', class: 'form__input' , placeholder: '確認用パスワード'%>
      <%= f.label :introduce, class: 'form__label' %>
      <%= f.text_area :introduce, class: 'form__area' %>
      <%= f.submit '更新する', class: "btn btn-primary form__button" %>
    <% end %>
  </div>

</main>


