<% provide(:title, '新規登録') %>
<main class="main-signUp">
  <div class="form-card">
  <h1 class="form-card__title">新規登録</h1>
    <%= form_with(model: @user, url: signup_path, local: true, class: 'form form--signup') do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :name, class: 'form-control', class: 'form__input', placeholder: 'ユーザー名' %>
      <%= f.email_field :email, class: 'form-control', class: 'form__input', placeholder: 'メールアドレス' %>
      <%= f.password_field :password, class: 'form-control', class: 'form__input', placeholder: 'パスワード' %>
      <%= f.password_field :password_confirmation, class: 'form-control', class: 'form__input' , placeholder: '確認用パスワード'%>
      <%= f.submit 'アカウント登録', class: "btn btn-primary form__button" %>
    <% end %>
  <p class="form-border">or</p>
  <%= link_to "Twitter", "/auth/twitter", class: 'twitter-link' %>
  <%# <div class="twitter-link">
  </div> %>
  </div>

</main>