<% provide(:title, @user.name) %>
<main class="main main--profile">
  <div class="contents">
    <div class="contents__left contents__left--edit">
      <!-- post -->
      <ol class="post-list">
        <%= render @posts %>
      </ol><!-- post end -->
      <%= paginate @posts %>

    </div>

    <div class="contents__right contents__right--edit">
      <div class="profile-block">
        <%  if @user.image.attached? %>
          <%= image_tag @user.image.variant(resize: "200x200"), class: 'profile-block__img profile-block__img--show', id: 'profile-block__img--show' %>
        <% else %>
          <% if @user.image_url? %>
            <img  id="profile-block__img--show" class="profile-block__img profile-block__img--show" src="<%= @user.image_url %>" alt="twitterアイコン">
          <% else %>
            <img id="profile-block__img--show" class="profile-block__img profile-block__img--show" src="<%= asset_pack_path 'media/src/images/defoult-user-icon.png' %>" />
          <% end %>
        <% end %>
        <h1 class="profile-block__name"><%= @user.name %></h1>
        <div class="profile-block__introduce">
          <%= @user.introduce %>
        </div>
        <%=  link_to 'プロフィールを編集', edit_user_path, class: 'profile-block__link' %>
      </div>

      <%= render 'layouts/categories' %>

      
      <div class="about-link">
        <%= link_to 'BX.noteとは？', about_path, class: 'link' %>
      </div>
    </div>

  </div>
</main>