<% provide(:title, @user.name) %>
<main class="main main--profile">
  <div class="contents">
    <div class="contents__left contents__left--edit">
      <div class="profile-nav">
        
      </div>
      <div class="profile-content">
        <% if logged_in? %>
          <%= link_to "プロフィール", current_user %>
          <p>session[:user_id]：<%= session[:user_id] %></p>
          <p>current_user.name： <%= current_user.name %> </p>
          <p>current_user.name： <%= current_user.image_url %> </p>
          <img src="<%= current_user.image_url %>" alt="twitterアイコン">
          <%= link_to "ログアウト", logout_path, method: :delete %>
        <% else %>
          <%= link_to "新規登録", signup_path %>
          <%= link_to "ログイン", login_path %>
        <% end %>
      </div>
    </div>

    <div class="contents__right contents__right--edit">
      <div class="profile-block">
        <%= render 'shared/user_icon', id: 'profile-block__img--show', name: 'profile-block__img profile-block__img--show' %>
        <h1 class="profile-block__name"><%= @user.name %></h1>
        <div class="profile-block__introduce">
          <%= @user.introduce %>
        </div>
        <%=  link_to 'プロフィールを編集', edit_user_path, class: 'profile-block__link' %>
      </div>

      <div class="categories">
        <p class="categories__title">カテゴリー</p>
        <ul class="category-list">
          <li class="category-list__item">
            <%= link_to 'HTML', root_path, class: 'link' %>
          </li>
          <li class="category-list__item">
            <%= link_to 'CSS', root_path, class: 'link' %>
          </li>
          <li class="category-list__item">
            <%= link_to 'JavaScript', root_path, class: 'link' %>
          </li>
          <li class="category-list__item">
            <%= link_to 'jQuery', root_path, class: 'link' %>
          </li>
          <li class="category-list__item">
            <%= link_to 'WordPress', root_path, class: 'link' %>
          </li>
          <li class="category-list__item">
            <%= link_to 'デザイン', root_path, class: 'link' %>
          </li>
          <li class="category-list__item">
            <%= link_to 'Web制作', root_path, class: 'link' %>
          </li>
        </ul>
      </div>

      
      <div class="about-link">
        <%= link_to 'BX.noteとは？', about_path, class: 'link' %>
      </div>
    </div>

  </div>

  <div class="page-nation">
  ページネーション
  </div>
  <%= link_to "新規登録", signup_path %>
</main>