<div id="panel2" class="panel">
  <p class="label-title label-title--2">記事共有</p>
  <%= render 'shared/user_icon', id: 'user-icon', name: 'modal-user-icon' %>
  <%= form_with(scope: :post, url: posts_path, local: true, class: 'form form--post', id: 'form-image') do |f| %>
    <%= f.text_area :content, class: 'post-form__area', placeholder: '何をシェアする？' %>
    <div class="check-block">
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, class: 'c-check') %>
    </div>
    
    <div id="form-image--post-article" class="form-image">
      <%= f.label :images, id: 'input-label--post-article', class: 'form__label--post-image' do %>
        <i class="far fa-image"></i>
        <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/gif,image/png', class: 'image-form form__input--image', data: {id: 'post-article'} %>
      <% end %>
    </div>

    <%= f.text_field :article_url, class: 'form__input' %>

    <%= f.text_field :genre, value: @genre, class: 'form__input--genre' %>

    <%= f.submit 'シェア', class: "form__button--post"%>
  <% end %>
</div>