<% @user ||= current_user %>
<li class="ProfileNav-list__item <%= @current_following if @current_following.present? %>">
  <%= link_to following_user_path(@user), class: 'link' do %>
    <span class="link__title">フォロー</span>
    <span class="following" class="link__num"><%= @user.following.count %></span>
  <% end %>
</li>

<li class="ProfileNav-list__item <%= @current_followers if @current_followers.present? %>">
  <%= link_to followers_user_path(@user), class: 'link' do %>
    <span class="link__title">フォロワー</span>
    <span class="followers" class="link__num">
      <%= @user.followers.count %>
    </span>
  <% end %>
</li>

<li class="ProfileNav-list__item">
  <%= link_to likes_user_path(@user), class: 'link' do %>
    <span class="link__title">いいね</span>
    <span class="link__num"><%= @user.likes.count %></span>
  <% end %>
</li>