<div id="loading-wrapper" class="loading-wrapper">
  <div class="loading">
    <div class="loading_icon"></div>
  </div>
</div>
<ul id="book-list" class="book-list">
  <% count = 1  
     maximumBooks = 10  %>
  <%# 本の検索結果を10件表示する %>
  <% $doc.css('span[data-component-type="s-product-image"]').each do |e| %>
    <label id="book-label-<%= count %>" for="book-checkbox-<%= count %>">
      <li class="book-list__item">
        <% src = e.css('img[class="s-image"]').attribute('src').value %>
        <% alt = e.css('img[class="s-image"]').attribute('alt').value %>
        <% href = e.css('a').attribute('href').value %>

        <%= image_tag(src, class: 'book-image')%>
        <span class="book-title"> <%= alt %> </span>
        <input type="hidden" name="data-<%= count %>" value="https://www.amazon.co.jp<%= href %>" class="book-link">
      </li>
    </label>

    <% count += 1 %>
    <% if count > maximumBooks %>
      <% break %>
    <% end %>
  
  <% end %>

</ul>