<% if logged_in? %>
  <% if post.like?(current_user) %>

    <%= link_to unlike_path(post.id), method: :delete, class: 'heart-icon', remote: true do %>
      <i class="fas fa-heart like-btn--unlike"></i>
      <span class="like-btn--unlike"><%= post.likes.count %></span>
      
    <% end %>

  <% else %>
    <%= link_to like_path(post.id), method: :post, class: 'heart-icon', remote: true do %>
      <i class="far fa-heart like-btn"></i>
      <span class="like-btn--like"><%= post.likes.count %></span>
      
    <% end %>

  <% end %>

<% else %>
  <i class="far fa-heart like-btn"></i>
  <span class="like-btn--like"><%= post.likes.count %></span>
<% end %>