<div id="panel2" class="panel panel--2">
  <p class="label-title label-title--2">記事共有</p>
  
  <%= form_with(scope: :post, url: posts_path, id: "form-post", class: 'form form--post') do |f| %>
    <% if f.object %>
      <%= render 'shared/error_messages', object: f.object %>
    <% end %>

    <div class="form__top-block">
      <div class="form__text-area-block">
        <%= render 'shared/user_icon', user: current_user, id_name: 'user-icon', class_name: 'modal-user-icon modal-user-icon--form' %>

        <%= f.text_area :content, class: 'post-form__area', placeholder: '読んだ感想は？' %>
      </div>

      <div class="form__btn-block">
        <div class="form-image">
          <%= f.label :images, id: 'input-label--post-article', class: 'form__label--post-image' do %>
          <i class="far fa-image"></i>
          <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/gif,image/png', class: 'image-form form__input--image', data: {id: 'post-article'} %>
          <% end %>
          <div id="form-image--post-article" class="file-name-block"></div>
        </div>

        <%= f.submit 'シェア', class: "form__button--post disabled", id: 'button-post', disabled: true %>
      </div>
    </div>

    <div id="category-check" class="form__check-block">
      <p id="check-block-title" class="check-block-title">カテゴリー</p>
      <div id="category-list" class="category-list">
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, class: 'c-check') do |b| %>
        <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
    </div>

    <div class="form__article-block">
      <%= f.text_field :link_url, class: 'form__input article-input post-input-text', placeholder: '記事のURL' %>
    </div>

      
      <%= f.hidden_field :genre, value: @genre %>
  <% end %>
</div>

<div id="post-alert" class="post-alert">
  <ul class="error-list"></ul>
</div>

<div id="post-load" class="post-load">
  <div class="post-load__inner">
    <div class="ball"></div>
     <div class="ball"></div>
     <div class="ball"></div>
  </div>
</div>