<li id="post-<%= post.id %>" class="post-list__item">
  <div class="user-link">
    <%= link_to post.user, class: 'user-link__item user-link__item--img' do %>
      <%= render 'shared/user_icon', id: 'user-icon', name: 'img' %>
    <% end %>
    <%= link_to post.user.name, post.user, class: 'user-link__itemuser-link__item--title' %>
  </div>

  <div class="categories">
    <% post.post_categories.each do |post_categories| %>
      <%= link_to post_categories.category.name, category_path(post_categories.category.id), class: 'categories__link' %>
    <% end %>
  </div>

  <div class="post-content">
    <%= post.content %>
  </div>

  <div class="post-image">
    <% post.images.each do |image|%>
      <%= image_tag image.variant(resize: "300x400") , class: 'image' %>
    <% end %>
  </div>

  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>

  <div class="post-genre">
    <% if post.genre %>
      <p>ジャンル：<%= post.genre %></p>
    <% else %>
      <p>ジャンルが設定されいません</p>
    <% end %>
  </div>


</li>