$(function() {
  const errorMessage = function() {
    $("#post-alert").show();
    setTimeout(function() {
      $("#post-alert").fadeOut();
    }, 3000);
    setTimeout(function() {
      $("#post-alert .error-list__item").remove()
    }, 3500);
  };

  const closeEditmModal = function() {
    $("#modal-content--post-show .inner").remove();
    $("body, #modal-content--post-show, #modal-close--post-show").removeClass("active");
    $("#modal-close--post-show").removeClass("edit-active");
  };

  const page = $("main").attr("data-page");

  const sliderSlick = function() {
    $("#post-inner-<%= @post.id %> .slider").slick({
      dots: true
    });
  }


  <% if @post.valid? && @e_error %>
    $("#post-alert .error-list").append('<li class="error-list__item"><%= @e_error %></li>');
    errorMessage();

  
  <% elsif @post.valid?  %>
    $("#post-<%= @post.id %>").html(" <%= j(render 'posts/post_inner') %> ");
    sliderSlick();
    
    closeEditmModal();
    $("#alert-block").html('<div id="alert" class="alert">投稿を送信しました。</div>');
    $("#alert").addClass("alert-down");
    setTimeout(function() {
      $("#alert").removeClass("alert-down");
    }, 3000);

  <% else %>
    <% @post.errors.full_messages.each do |message| %>
      $("#post-alert .error-list").append('<li class="error-list__item"><%= message %></li>');
    <% end %>
    errorMessage();

  <% end %>
});