<header class="header">
  <!-- inner-->
  <div class="inner">

    <h1 class="header-logo">
      <%= link_to root_path, class: 'header-logo__link' do%>
        <img class="header-logo__img" src="<%= asset_pack_path 'media/src/images/logo_1.svg' %>" />
      <% end %>
    </h1>

    <div class="serch-box serch-box--pc">
      <%= form_with(method: :get, local: true) do |f| %>
        <%= f.text_field :search, placeholder: '検索', class: 'serch-box__input serch-box--pc__input'%>
        <%= f.button "search", class: 'serch-box__button serch-box--pc__button',value: ''  do%>
        <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>

    <i id="sp-serch" class="fas fa-search sp-serch"></i>

    <%= link_to root_path class: 'post-link' do %>
      <img class="post-link__img" src="<%= asset_pack_path 'media/src/images/icon-post.png' %>" />
    <% end %>
    
    <!-- tab-menu -->
    <div id="tab-menu" class="tab-menu">
      <div class="contents">
        <div class="profile-card">
          プロフィールカードが入る
        </div>
        
        <div class="categories">
          <p class="categories__title">カテゴリー</p>
          <ul class="category-list">
            <li class="category-list__item">
              <%= link_to 'HTML', root_path, class: 'link' %>
            </li>
            <li class="category-list__item">
              <%= link_to 'CSS', root_path, class: 'link' %>
            </li>
            <li class="category-list__item">
              <%= link_to 'JavaScript', root_path, class: 'link' %>
            </li>
            <li class="category-list__item">
              <%= link_to 'jQuery', root_path, class: 'link' %>
            </li>
            <li class="category-list__item">
              <%= link_to 'WordPress', root_path, class: 'link' %>
            </li>
            <li class="category-list__item">
              <%= link_to 'デザイン', root_path, class: 'link' %>
            </li>
            <li class="category-list__item">
              <%= link_to 'Web制作', root_path, class: 'link' %>
            </li>
          </ul>
      </div>

      <div class="about-link">
        <%= link_to 'BX.noteとは？', about_path, class: 'link' %>
      </div>

      </div>
        
      <div class="nav-toggle">
        <div class="icon"></div>
      </div>
    </div><!-- tab-menu end -->

  </div><!-- inner end -->
</header>

<!--sp-serch-page -->
<div id="serch-page" class="serch-page">
  <div class="serch-page__header">
    <div class="serch-box serch-box--sp">
      <%= form_with(method: :get, local: true) do |f| %>
        <%= f.text_field :search, placeholder: '検索', class: 'serch-box__input serch-box--sp__input'%>
        <%= f.button "search", class: 'serch-box__button serch-box--sp__button',value: ''  do%>
        <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
    <p id="serch-page-close" class="cancel-btn">キャンセル</p>
  </div>

  <div class="bluelight">
	  <p class="bluelight__text">SERCH</p>
  </div>
</div>
<!--sp-serch-page end -->