<header class="header">
  <!-- inner-->
  <div class="inner">

    <h1 class="header-logo">
      <%= link_to root_path, class: 'header-logo__link' do%>
        <img class="header-logo__img" src="<%= asset_pack_path 'media/src/images/logo_1.svg' %>" />
      <% end %>
    </h1>

    <div class="serch-box serch-box--pc">
      <%= search_form_for @q, url: search_path, id: 'post-search-pc' do |f| %>
        <%= f.search_field :link_title_or_link_desc_or_content_cont, placeholder: '検索', class: 'serch-box__input serch-box--pc__input' %>
        <%= f.button class: 'serch-box__button serch-box--pc__button',value: ''  do%>
        <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>

    <% if logged_in? %>
      <%= render 'shared/user_icon', user: current_user, id_name: 'user-icon', class_name: 'session-user-icon' %>
      <div id="user-link" class="user-link--pc">
        <%= link_to current_user.name, current_user, class: 'user-link--pc__item user-link--pc__item--title' %>
        <%= link_to "プロフィール編集", edit_user_path(current_user), class: 'user-link--pc__item user-link--pc__item--edit' %>
        <%= link_to "ログアウト", logout_path, method: :delete, class: 'user-link--pc__item user-link--pc__item--logout' %>
      </div>
    <% else %>
      <div class="new-link">
        <%= link_to "アカウント登録", signup_path, class: 'new-link__item new-link__item' %>
        <%= link_to "ログイン", login_path, class: 'new-link__item new-link__item' %>
      </div>
    <% end %>

    <div id="sp-serch">
      <i class="fas fa-search sp-serch"></i>
    </div>

    <% if logged_in? %>
        <div id="modal-open" class="modal-open modal-open--post">
          <img class="post-link__img" src="<%= asset_pack_path 'media/src/images/icon-post.png' %>">
        </div>
    <% end %>
    
    <!-- tab-menu -->
    <div id="tab-menu" class="tab-menu">
      <div class="nav-back">
        <div id="tab-menu-contents" class="contents">
          <% if logged_in? %>
            <div class="profile-card profile-card--sp">
              <div class="user-link user-link--sp">
                <%= link_to current_user, class: 'user-link__item user-link__item--img' do %>
                  <%= render 'shared/user_icon', user: current_user, id_name: 'user-icon-sp', class_name: 'img' %>
                <% end %>
                <%= link_to current_user.name, current_user, class: 'user-link__item user-link__item--title' %>
              </div>
              <div class="user-status user-status--sp">
                <ul class="ProfileNav-list">
                  <%= render 'users/stats' %>
                </ul>
              </div>
            </div>
          <% else %>
            <div class="new-link--tab">
              <%= link_to "アカウント登録", signup_path, class: 'new-link--tab__item new-link--tab__item--new' %>
              <%= link_to "ログイン", login_path, class: 'new-link--tab__item new-link--tab__item--login' %>
            </div>
          <% end %>
          
          <%= render 'layouts/categories' %>

        <div class="about-link">
          <%= link_to 'BX.noteとは？', about_path, class: 'link' %>
        </div>

        <% if logged_in? %>
        <%= link_to "ログアウト", logout_path, method: :delete, class: 'user-link--pc__item user-link--pc__item--logout' %>
        <%# <p>テスト</p> %>
        <%# <p>テスト</p>
        <p>テスト</p> %>
        <% end %>
      </div>
      


      </div>
        
      <div class="nav-toggle">
        <div class="icon"></div>
      </div>
    </div><!-- tab-menu end -->

  </div><!-- inner end -->
</header>

<!--sp-serch-page -->
<div id="serch-page" class="serch-page">
  <div class="serch-page__header">
    <div class="serch-box serch-box--sp">
    <%= search_form_for @q, url: search_path, id: 'post-search-sp' do |f|%>
      <%= f.search_field :link_title_or_link_desc_or_content_cont, placeholder: '検索', id: 'serch--sp', class: 'serch-box__input serch-box--sp__input' %>
      <%= f.button class: 'serch-box__button serch-box--sp__button',value: ''  do%>
      <i class="fas fa-search"></i>
      <% end %>
    <% end %>
    </div>
    <p id="serch-page-close" class="cancel-btn">キャンセル</p>
  </div>

  <div class="bluelight">
	  <p class="bluelight__text">SERCH</p>
  </div>
</div>
<!--sp-serch-page end -->