<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/meta_link' %>
    <%= render 'layouts/ogp' %>
  </head> 

  <body>
    <!-- header -->
    <%= render 'layouts/header' %> 
    <!-- header end -->

    <div class="main-container">
      <div id="alert-block">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert--#{message_type}", id: "alert") %>
      <% end %>
      </div>

      <% if logged_in? %>
        <%= render 'posts/post-modal' %>
      <% end %>
      
      <%= yield %>

    </div>

    <!-- footer -->
    <% unless action_name == 'edit' %>
     <%= render 'layouts/footer' %>
    <% end %> 
    <!-- footer end -->

    <div id="toTop" class="toTop">
      <div class="toTop__block">
        <i class="fas fa-angle-up toTop__icon"></i>
      </div>
    </div>
    
  </body>
</html>
